.App{
  z-index: 0;
  font-family: monospace;
}
body{
  background: fixed radial-gradient(ellipse at top, #1b1b1b, #08091d);
  height: 100%;
  overflow-y: scroll;
}
body::-webkit-scrollbar{
  display: none;
}
.Contacts{
  height: 100vh;
}
.Contacts p{
  text-align: center;
}
.Contacts svg{
  width:64px;
  height: 64px;
}
nav{
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top:10px;
  right:10px;
  width: 75px;
  height: 50px;
  transition: all ease-in-out 0.3s;
}
.grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#touch{
  position: fixed;
  color: white;
  transition: all ease-in-out 0.6s;
}
#last{
  margin-left: 25%;
}
h1{
  text-align: center;
  font-size: 46px;
  color:white;
  text-shadow: 1px 1px 2px black,-1px 1px 2px black,1px -1px 2px black,-1px -1px 2px black;
  font-variant: all-small-caps;
}
p{
  color:white;
  text-shadow: 1px 1px 1px black,-1px -1px 1px black,-1px 1px 1px black,1px -1px 1px black;
}
.send svg{
  width:18px;
  height:18px;
}
.title{
  text-align: center;
  width:320px;
  border:solid 1.5px rgba(0, 0, 0, 0.658);
  margin-top:10px;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  background:rgb(21, 62, 197);
  color:white;
  font-size: 26px;
  font-variant: all-small-caps;
  text-shadow: 1px 1px 1px black,-1px -1px 1px black,-1px 1px 1px black,1px -1px 1px black;
}
.infowrapper{
  display: flex;
  flex-direction: row;
}
.contactfoo{
  width:100%;
  height: 140px;
  position: fixed;
  border-radius: 0 5px 5px 0;
  bottom: 0;
  left: 0px;
  background: rgb(17, 17, 17) ;
}
.send:hover{
  filter:brightness(1.3) !important;
}

.contactfoo .grid {
  flex-direction: row;
  justify-content: space-evenly
}
.sectionemail, .sectionphone{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.socialmedia{
  height: 128px;
  background: linear-gradient(180deg,rgb(17, 17, 17),rgba(17, 17, 17, 0.63),rgba(56, 56, 56, 0));
  filter: blur(60%);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width:100%;
  margin:20px 0 20px 0;
}
.datawrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.datawrapper p,.knowledgeswrapper p{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 160px;
  background: rgba(255, 255, 255, 0.219);
  padding: 5px;
  margin: 20px 15px 0px 15px ;
  text-align: center;
}
.wrapper{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.knowledgeswrapper{
  width: 50%;
  margin-bottom:30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#first{
  width: auto;
}
.socialicon{
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  color: white;
   -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}
.socialicon:hover{
  transform: rotate(360deg);
}
#mail:hover,#call:hover{
  transform: none;
  cursor: auto;
}
.wrappercontacts{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.call{
  color:white;
  font-size: 18px;
  width:160px;
  text-shadow: 1px 1px 2px black,-1px 1px 2px black,1px -1px 2px black,-1px -1px 2px black;
  text-align: center;
}
nav a{
 display: none;
  opacity: 0;
  transition: ease-in-out all 0.6s;
  text-decoration: none;
  color:white;
  font-size: 20px;
  text-shadow: 1px 1px 2px black,-1px 1px 2px black,1px -1px 2px black,-1px -1px 2px black;
}
.project{
  margin: 30px 0 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project svg{
  margin:10px 0 10px 0;
  height: 128px;
  width: 128px;
}
.sunicon{
  color:rgb(192, 192, 11)
}
.routericon{
  color: #747474;
}
.listicon{
  color:rgb(31, 180, 31);
}
.projtext{
  margin:20px 0 20px 0;
}
.projlink{
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  color:white;
  text-shadow: 1px 1px 1px black,-1px 1px 1px black,1px -1px 1px black,-1px -1px 1px black;
}
.projlink:hover{
  color:rgb(240, 0, 0)
}
.foto{
  border-radius: 10%;
  border:solid black 1.5px;
  box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.623),3px 3px 3px rgba(0, 0, 0, 0.623);
}
.knowledgeswrapper .foto{
  margin:30px 0 30px 0;
}
.Knowledges{
  max-width: 100%;
}
.fotowrapper{
  width:550px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fade-enter {
  opacity: 0;
  transform: translate(0, 25px);
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 250ms ease-out, transform 300ms ease;
}
.fade-exit {
  opacity: 1;
  transform: translate(0, 0);
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translate(0, 30px);

  transition: opacity 250ms ease-out, transform 300ms ease;
}
@media screen and (max-width: 780px){
  .Info h1{
    margin: 0;
  }
  .grid{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .knowledgeswrapper {
    width: 80%;
  }
  .knowledgeswrapper .foto{
    height: 180px;
    width: calc(180px*16/9);
  }
  .Info .foto{
    height: 280px;
    width:calc(240px*9/7);
    margin:40px 0 0 0;
  }
  #last{
    margin:0;
  }
}
@media screen and (max-width: 600px){
.fotowrapper{
  height: 340px;
}
.infowrapper{
  flex-wrap: wrap;
}
}